<div class="controls-wrapper">
  <div class="controls">
    <!-- <input type="file" #fileInput accept="image/*" (change)="onFileChange()" /> -->
    <input
      #fileInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileChange()"
    />
    <button mat-raised-button class="btn-color" (click)="fileInput.click()">
      Seleccionar imagen
    </button>
    <select [(ngModel)]="selectedRatio" (change)="updateRatio()">
      <option *ngFor="let r of ratios" [ngValue]="r.value">
        {{ r.label }}
      </option>
    </select>
    <input
      *ngIf="!selectedRatio"
      type="number"
      [(ngModel)]="customWidth"
      (ngModelChange)="updateCustom()"
      placeholder="Width (px)"
    />
    <input
      *ngIf="!selectedRatio"
      type="number"
      [(ngModel)]="customHeight"
      (ngModelChange)="updateCustom()"
      placeholder="Height (px)"
    />
  </div>
</div>

<div class="canvas-container">
  <canvas #canvasEl class="canvas"></canvas>
</div>

<div class="action-bar">
  <!-- offsets si los quieres mostrar a la derecha -->
  <button
    mat-raised-button
    class="btn-color"
    (click)="newProcess()"
    *ngIf="resultUrlROI"
  >
    Nuevo
  </button>
  <button mat-raised-button class="btn-color" (click)="exportMask()">
    Generar
  </button>
  <button
    mat-raised-button
    class="btn-color"
    (click)="download()"
    *ngIf="resultUrlROI"
  >
    Descargar
  </button>
</div>

<div *ngIf="resultUrlROI && !bandProcess" class="preview">
  <h3>ROI Recortada (procesando imagen... Espere un momento por favor)</h3>
  <img class="roi-preview" [src]="resultUrlROI" alt="ROI preview" />
</div>

<div *ngIf="resultUrlROI && bandProcess" class="preview">
  <h3>Imagen Procesada:</h3>
  <img class="roi-preview" [src]="resultUrlROI" alt="ROI preview" />
</div>
