/* TEXTO */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, "Helvetica Neue", sans-serif !important;
}

h1 {
  font-size: 24px;
  margin: 0px;
}

h2 {
  font-size: 20px;
  margin: 0px;
}

h3 {
  font-size: 18px;
  margin: 0px;
}

h4 {
  font-size: 16px;
  margin: 0px;
}

p {
  font-size: 16px;
  margin: 0px;
}

/* FONDOS */
.bg-header {
  background-color: var(--mat-color-header) !important;
  color: var(--mat-color-header-contrast) !important;
}

.bg-primary {
  background-color: var(--mat-color-primary) !important;
  color: var(--mat-color-primary-contrast) !important;
}

.bg-secondary {
  background-color: var(--mat-color-secondary) !important;
  color: var(--mat-color-secondary-contrast) !important;
}

.bg-success {
  background-color: var(--mat-color-success) !important;
  color: var(--mat-color-success-contrast) !important;
}

.bg-warning {
  background-color: var(--mat-color-warning) !important;
  color: var(--mat-color-warning-contrast) !important;
}

.bg-error {
  background-color: var(--mat-color-error) !important;
  color: var(--mat-color-error-contrast) !important;
}

.bg-gray {
  background-color: var(--mat-color-gray) !important;
  color: var(--mat-color-gray-contrast) !important;
}

/* COLORES */
.c-primary {
  color: var(--mat-color-primary);
}

.c-secondary {
  color: var(--mat-color-secondary);
}

.c-error {
  color: var(--mat-color-error);
}

/* MODALS - VENTANAS PUSH */
.modal-message {
  width: 450px;
}

.modal-message .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 25px !important;
}

/* CLASES UTILITARIAS */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-10 {
  margin: 10px;
}

.my-10 {
  margin-block: 10px;
}

.py-10 {
  padding-block: 10px;
}

.center-x {
  display: flex !important;
  justify-content: center;
}

.center-xy {
  display: flex !important;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.cursor-pointer {
  cursor: pointer;
}

/* BOTONES */
.btn-float.close {
  position: relative !important;
  z-index: 999 !important;
}

/* .banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("/images/fondo2.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin-bottom: 30px;
} */

/* .banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 71, 161, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .banner-overlay h1 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0 20px;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
